In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
Movie = []
Year = []
Rating=[]
Score =[]

In [3]:
pages = np.arange(1,1000,100)

In [4]:
for i in pages:
    i = requests.get("https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start="+str(i)+"&ref_=adv_nxt")
    soup = BeautifulSoup(i.text, 'html.parser')
    data = soup.findAll('div', attrs = {'class': 'lister-item mode-advanced'})
    sleep(randint(2,8))
    for j in data:
        movie = j.h3.a.text
        Movie.append(movie)
        year = j.h3.find('span', class_ = "lister-item-year text-muted unbold").text
        Year.append(year)
        rating = j.find('div', class_ = "inline-block ratings-imdb-rating").text.replace('\n', '')
        Rating.append(rating)
        score = j.find('span', class_ = "metascore").text if j.find('span', class_ = "metascore") else "--"
        Score.append(score)

In [5]:
df = pd.DataFrame({ "Movie Name": Movie, "Year of Release" : Year,"Movie Rating": Rating, "Meatscore of movie": Score  })

In [6]:
df.to_csv("IMDb movies.csv", index=False)

In [7]:
df.head()

                 Movie Name Year of Release Movie Rating Meatscore of movie
0  The Shawshank Redemption          (1994)          9.3         80
1             The Godfather          (1972)          9.2        100
2           Soorarai Pottru          (2020)          9.1                 --
3           The Dark Knight          (2008)          9.0         84
4    The Godfather: Part II          (1974)          9.0         90

In [8]:
df.describe()

       Movie Name Year of Release Movie Rating Meatscore of movie
count        1000            1000         1000               1000
unique        998             118           18                 64
top      Drishyam          (2004)          7.7                 --
freq            2              30          164                161